$color-bg : #0F0F0F;
$color-primary-yellow : #fdcc00;
$color-card-bg : #0F0F0F;
$color-card-bg-notice : #1f1f1f;
$color-text-grey: rgb(158, 158, 158);

$logo-start-at: .5s;
$logo-shutter-spin-duration: 2s;

$spacer: 5rem;